<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          {{#link-to "index" class='navbar-brand'}}Movie Finder{{/link-to}}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to "index"}}Home{{/link-to}}</li>
                <li>{{#link-to "popular"}}Popular{{/link-to}}</li>
                <li>{{#link-to "newest"}}Newest{{/link-to}}</li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    {{outlet}}
</div>
<hr>
<div class="footer text-center" style="margin-bottom: 30px;">
  <h3>Movie Finder &copy; 2016</h3>
</div>