<div class="row">
  {{search-component search=search}}
</div>
<div class="row movie-list">
  <div class="row"><h1 class="text-center">Search results for "{{search}}"</h1></div>
  {{movie-list movies=model}}
  <div class="row text-center">
      <button class="btn btn-info" {{action 'getMoreMovies'}}>More Movies</button>
  </div>
</div>
